<template>
    <header>
        <h1>DEVTABLE</h1>
        <nav>
            <Link href="/">bonjour</Link>
            <Link href="/admin">admin</Link>
            <Link href="/table">table</Link>
        </nav>
    </header>

    <div class='wrapper'>
        <slot />
    </div>
</template>

<script>
import {Link} from '@inertiajs/inertia-vue3'
export default{
    components: {
        Link
    }
}
</script>
<style scoped>
    header{
        display: flex;
        align-items:center;
        justify-content: space-between;
        padding: 1.5rem 3rem;
        background: #0d6efd;
        color: white;
    }
    header h1{
        font-size: 1.6rem;
    }
    nav a {
        display: inline-block;
        color: white;
        opacity: 1;
        transition: opacity ease .3s;
        text-transform: capitalize;
        font-weight: 500;
    }
    nav a:hover{
        opacity: .7;
    }
    nav a:nth-child(2){
        padding: 0 1.5rem;
    }
    .wrapper{
        padding: 2rem 3rem;
    }
</style>