<template>
    <Head>
        <title>admin title</title>
    </Head>
    <p>je suis sur l'admin de nom : {{ nom }}</p>
    <p>je suis sur l'admin de prenom : {{ prenom }}</p>

    <Link href="/admin" :only="['prenom']">reload only a part</Link> <br>
    <button @click="increment()">incrementer {{it}} fois</button> <br>
    
    <Link href="/admin" preserve-state>reload and preserve state</Link>

</template>

<script>
import { Head, Link } from '@inertiajs/inertia-vue3'
export default{
    components: {Head,Link},
    props: {
        prenom:String,
        nom:String,
    },
    data: function() {
        return {
            it:0,
        }
    },
    methods: {
        increment: function (){ this.it++},
    }
}
</script>