<template>
    <Head>
        <title>bonjour title</title>
    </Head>
    <p>bonjour {{ name }}</p>
</template>

<script>
import {Head} from '@inertiajs/inertia-vue3'
export default{
    components: {
        Head
    },
    props: {
        name: String,
    }
}
</script>