<template>
    <Table :data="table" :filters="filters" @close="() => errors={}" :errors="errors" title="Mes Contacts"/>
</template>

<script>
import Table from '../components/Table.vue'
export default{
    props: {
        table:[],
        filters:Object,
        errors: Object
    },
    components: {
        Table
    }
}
</script>