@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*,
*::before,
*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    overflow-x: hidden;
    background-color: rgba(226, 226, 226, 0.425);
    line-height: 1.5;
    user-select: none;
}
a{
    text-decoration: none;
}
