<template>
    <button 
        class="btn"
        :type="type"
        :class="{
            'btn_primary':  btnType == 'primary',
            'btn_info':  btnType == 'info',
            'btn_danger':  btnType == 'danger',
            'btn_success':  btnType == 'success',
            'disabled': disabled,
            'rounded': rounded,
        }">
        <img v-if="icon" :class="iconClass" :src="'svg/'+iconPath"/>
        <span v-if="!rounded">{{ label }}</span>
    </button>
</template>

<script>
export default{
    props: {
        icon: Boolean,
        disabled: Boolean,
        rounded: Boolean,
        iconPath: String,
        iconClass: {
            type: String,
            required: false
        },
        type:{
            type: String,
            required: false,
            default: 'button'
        },
        label: String,
        btnType: {
            type: String,
            validator(value){
                return ['success', 'primary', 'info', 'danger'].includes(value)
            },
            default: 'primary',
        }
    }
}
</script>
<style scoped>
    .btn{
        display: flex;
        align-items:center;
        justify-content: center;
        padding: .8rem 2rem;
        border-radius: 3px;
        border-color: transparent;
        cursor: pointer;
        color: white;
        font-size: .7rem;
        opacity: 1;
        transition: opacity ease .3s;
        font-weight: 500;
        font-family: 'POPPINS';
    }
    .rounded{
        aspect-ratio: 1;
        border-radius: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 38px;
    }

    .btn img{
        height: 20px;
        margin-right: .5rem;
    }
    .rounded img{
        margin: 0;
        height: 14px;
    }

    .btn:hover{
        opacity: .7;
    }
    .btn.disabled{
        opacity: .5;
        cursor: no-drop;
    }
    .btn span{
        text-transform: uppercase;
    }
    .btn_primary{
        background: #0d6efd;
    }
    .btn_info{
        background: #0dcaf0;
    }
    .btn_danger{
        background: #dc3545;
    }
    .btn_success{
        background: #2fb334;
    }

</style>