<template>
    <div class="wrapper" :class="{active: showable}">
        <span class="close" @click="$emit('close')">x</span>
        <slot />
    </div>
</template>
<script>
    export default {
        props: {
            showable: Boolean
        }
    }
</script>

<style scoped>
    .wrapper{
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        bottom: 0;
        left: 0;
        display: none;
        background: #000000d1;
        align-items: center;
        justify-content: center;
    }
    .close{
        position: absolute;
        right: 60px;
        top: 60px;
        color: white;
        font-weight: 600;
        font-size: 2rem;
        cursor: pointer;
    }
    .active{
        display: flex;
    }
</style>