<template>
    <h2>{{title}}</h2>
    <div class="table_header">
        <div>
            <div class="search_box">
                <i class=""></i>
                <input type="search" v-model="params.search" placeholder="rechercher un contact"/>
            </div>
            <select v-model="params.perPage">
                <option :selected="ratio === 5" value="5">5</option>
                <option :selected="ratio === 10" value="10">10</option>
                <option :selected="ratio === 15" value="15">15</option>
                <option :selected="ratio === 25" value="25">25</option>
            </select>
        </div>
        
        <div class="btn_box">
            <Button label="ajouter" iconPath="plus.svg" :icon="true" @click="showForm('create')" :disabled="loading" />
            <Button label="supprimer" btnType="danger" iconPath="trash.svg" @click="dropMany" :icon="true" :disabled="isActive || loading" />
        </div>
    </div>
    <table :class="{loading: loading}">
        <thead>
            <tr>
                <th scope="col">
                    <span></span>
                </th>
                <th scope="col" @click="sort('name')">
                    <div>
                        <span>Nom</span>
                        <img src="/svg/sort_up.svg" v-if="this.params.field == 'name' && this.params.direction == 'asc' "/>
                        <img src="/svg/sort_down.svg" v-if="this.params.field == 'name' && this.params.direction == 'desc' "/>
                    </div>
                </th>
                <th scope="col" @click="sort('email')">
                    <div>
                        <span>email</span>
                        <img src="/svg/sort_up.svg" v-if="this.params.field == 'email' && this.params.direction == 'asc' "/>
                        <img src="/svg/sort_down.svg" v-if="this.params.field == 'email' && this.params.direction == 'desc' "/>
                    </div>
                </th>
                <th scope="col" @click="sort('city')">
                    <div>
                        <span>ville</span>
                        <img src="/svg/sort_up.svg" v-if="this.params.field == 'city' && this.params.direction == 'asc' "/>
                        <img src="/svg/sort_down.svg" v-if="this.params.field == 'city' && this.params.direction == 'desc' "/>
                    </div>
                </th>
                <th scope="col" @click="sort('postalCode')">
                    <div>
                        <span>code postal</span>
                        <img src="/svg/sort_up.svg" v-if="this.params.field == 'postalCode' && this.params.direction == 'asc' "/>
                        <img src="/svg/sort_down.svg" v-if="this.params.field == 'postalCode' && this.params.direction == 'desc' "/>
                    </div>
                </th>
                <th scope="col" @click="sort('phoneNumber')">
                    <div>
                        <span>numero</span>
                        <img src="/svg/sort_up.svg" v-if="this.params.field == 'phoneNumber' && this.params.direction == 'asc' "/>
                        <img src="/svg/sort_down.svg" v-if="this.params.field == 'phoneNumber' && this.params.direction == 'desc' "/>
                    </div>
                </th>
                <th>
                    <span>action</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="contact in data.data" :key="contact.id">
                <td><input type="checkbox" @click="selectItem(contact)"></td>
                <td>
                    <span class="badge">
                        {{ getInitial(contact.name) }}
                    </span>
                    <span>{{truncate(contact.name, 10)}}</span>
                </td>
                <td>{{truncate(contact.email, 10)}}</td>
                <td>{{contact.city}}</td>
                <td>{{truncate(contact.postalCode, 10)}}</td>
                <td>{{truncate(contact.phoneNumber, 10)}}</td>
                <td>
                    <Button rounded iconPath="pencil.svg"  @click="showForm('update', contact)" :icon="true" />
                    <Button rounded btnType="danger" @click="dropOne(contact.id)" iconPath="trash.svg" :icon="true" />
                </td>
            </tr>
        </tbody>
    </table>
    <Paginator :pagination="data"/>


    <!-- modal form -->
    <Modal :showable="show" @close="close">
        <div>
            <h2 class="modal_title" v-if="this.id == null">Nouveau Contact</h2>
            <h2 class="modal_title" v-if="this.id != null">Modifier Contact</h2>
            <form @submit.prevent="onSubmit">
                <div class="form_item">
                <div class="form_input">
                    <input type="text" :class="{error: errors.name}"  v-model="form.name" placeholder="votre nom"/>
                    <div class="invalid-feedback" v-if="errors.name">{{ errors.name }}</div>
                </div>
                
                <div class="form_input">
                    <input type="email" :class="{error: errors.email}"  v-model="form.email" placeholder="votre email"/>
                    <div class="invalid-feedback" v-if="errors.email">{{ errors.email }}</div>
                </div>
                <div class="form_input">
                    <input type="text"  v-model="form.city" :class="{error: errors.city}" placeholder="votre ville"/>
                    <div class="invalid-feedback" v-if="errors.city">{{ errors.city }}</div>
                </div>
                <div class="form_input">
                    <input type="text"  v-model="form.postalCode" :class="{error: errors.postalCode}" placeholder="votre code postal"/>
                    <div class="invalid-feedback" v-if="errors.postalCode">{{ errors.postalCode }}</div>
                </div>
                <div class="form_input">
                    <input type="phone"  v-model="form.phoneNumber" :class="{error: errors.phoneNumber}" placeholder="votre numero"/>
                    <div class="invalid-feedback" v-if="errors.phoneNumber">{{ errors.phoneNumber }}</div>
                </div>
                </div>
                <Button btnType="primary" type="submit" 
                        :disabled="form.processing" 
                        :label="this.id != null ? 'modifier' : 'enregistrer'" 
                        :icon="false" />
            </form>
        </div>
    </Modal>
</template>

<script>
import Button from '../components/Button.vue'
import Paginator from '../components/Paginator.vue'
import Modal from '../components/Modal.vue'
import { Inertia } from '@inertiajs/inertia'
import { useForm } from '@inertiajs/inertia-vue3'

export default{
    props: {
        data:[],
        title: String,
        filters: Object,
        errors: Object
    },
    setup: function () {
        const form = useForm({
            email: null,
            name: null,
            city: null,
            postalCode: null,
            phoneNumber: null
        })

        return {form}
    },
    components: {
        Button,
        Paginator,
        Modal
    },
    computed: {
        isActive: function () { return this.toDelete.length == 0 },
    },
    data: function () {
        return {
            toDelete: [],
            loading: false,
            params: {
                perPage: this.filters.perPage || 10,
                search: this.filters.search,
                field: this.filters.field,
                direction: this.filters.direction
            },
            show: false,
            id: null
        }
    },
    watch: {
        params: {
            handler(newValue, oldValue) {
                let params = this.params
                Object.keys(params).forEach( key => { 
                    if(params[key] == "") delete params[key] 
                })
                this.loading = true
                Inertia.get('/table', params, { 
                    replace: true, 
                    preserveState: true,
                    onFinish: (e) => {
                        this.loading = false
                    }
                })
            },
            deep: true
        }
    },
    methods: {
        getInitial: function (name){
            const nameInArray = name.split(" ")
            const end = (nameInArray.length <= 1 ? "" : nameInArray[nameInArray.length-1].split("")[0])
            return nameInArray[0].split("")[0] + end
        },
        truncate: function (val, length) {
            if(val.length == length) return val
            return val.substring(0,length-3) + "..."
        },
        selectItem: function (it) { 
            const vals = this.toDelete.filter((el) => it.id == el.id)
            if(vals.length == 0) this.toDelete.push(it)
            else this.toDelete = this.toDelete.filter((el) => el.id != it.id)
        },
        sort: function (field){
            this.params.field = field;
            this.params.direction = this.params.direction == "asc" ? "desc" : "asc";
        },
        dropOne: function (id) {
            this.sendRequest([id], '/delete/contacts')
        },
        dropMany: function () {
            if(this.isActive) return
            this.sendRequest(this.toDelete, '/delete/contacts')
        },
        sendRequest: function (data, url) {
            this.loading = true
            Inertia.post(url, {data} , {
                replace: true, 
                preserveState: true,
                onFinish: (s) => {
                    this.loading = false
                }
            })
        },
        showForm: function (type, contact = null) {
            if(type == "update") {
                this.id = contact.id
                this.form.email = contact.email
                this.form.name = contact.name
                this.form.phoneNumber = contact.phoneNumber
                this.form.postalCode = contact.postalCode
                this.form.city = contact.city
            }

            this.show = !this.show;
        },
        onSubmit: function () {
            if(!this.show) return
            this.loading = true
            if(this.id != null){
                this.form.put(`/contact/${this.id}`, {
                    replace: true, 
                    preserveState: true,
                    onFinish: (s) => {
                        this.loading = false
                    },
                    onError: function (e) {
                        console.log(e)
                    }
                })
            }else{
                this.form.post("/table", {
                    replace: true, 
                    preserveState: true,
                    onFinish: (s) => {
                        this.loading = false
                    },
                    onSuccess: function () {
                        this.form.reset()
                        setTimeout(() => {
                            this.show = false;
                        }, 500);
                    }
                })
            }
        },
        close: function () {
            this.show = !this.show;
            if(this.id != null) {
                this.id = null
            }
            this.$emit('close');
            this.form.reset()
        }
    }
}
</script>
<style scoped>
    @keyframes spin{
        0% {
            opacity: 1;
        }
        50% {
            opacity: .7;
        }
        100% {
            opacity: 1;
        }
    }
    .table_header{
        display: flex;
        align-items:center;
        justify-content: space-between;
        padding: 1.5rem 0
    }
    .table_header > div {
        display: flex;
        align-items:center;
        justify-content: center;
        gap: 1rem;
    }
    select,
    input[type=search]{
        display: block;
        min-width: 300px;
        padding: .6rem;
        border-radius: 5px;
        border-color: transparent;
        box-shadow: 0px 0px 5px 0px #00000021;
        font-family: 'POPPINS';
    }
    select{
        min-width: max-content;
    }
    input[type=checkbox]{
        height: 18px;
        width: 18px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
    }

    table{
        width: 100%;
        table-layout: auto;
        border-spacing: 0;
        text-align: left;
        border-collapse: collapse;
        overflow: hidden;
        border-radius: 10px;
        background: white;
        position: relative;
    }
    table.loading::after{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: #00000054;
        border-radius: 10px;
        z-index: 10;
        animation: .7s linear infinite spin;
    }
    table.loading::before{
        content: "loading...";
        position: absolute;
        width: max-content;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 15;
        color: white;
        font-size: 3rem;
        font-weight: 600;
    }
    tbody td:is(:last-of-type),
    td:has(.badge){
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: .8rem;
    }
    tbody td:is(:last-of-type){
        gap: .5rem;
    }
    
    .badge{
        width: 50px;
        aspect-ratio:1;
        border-radius: 100%;
        background: #7da8e74f;
        line-height: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .9rem;
        font-weight: 600;
        text-transform: uppercase;
        color: #0d6efd;
    }

    thead{
        color: white;
        background: #0d6efd;
        padding: 1rem 0;
        margin-bottom: 1.5rem;
    }
    th{
        padding: 1rem .25rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    th > div{
        display: flex;
        align-items:center;
        justify-content: flex-start;
    }
    th img{
        height: 21px;
        margin-left: .4rem;
    }
    tbody tr{
        border-bottom: solid 1px #0000002b;
    }
    tbody tr:is(:last-of-type){
        border-color: transparent;
    }
    td{
        padding: .8rem .25rem;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    h2{
        text-align: center;
    }
    .btn_box{
        display: flex;
        align-items:center;
        justify-content: center;
        gap: 1rem;
    }

    form{
        width: 450px;
    }
    form input{
        display: block;
        min-width: 100%;
        padding: .6rem;
        margin: .4rem 0;
        border-radius: 5px;
        border-color: transparent;
        box-shadow: 0px 0px 5px 0px #00000021;
        font-family: 'POPPINS';
    }
    form input.error{
        border-color: #f92f2f;
    }
    .form_input{
        margin: .8rem 0;
    }
    .invalid-feedback{
        color: #f92f2f;
    }
    form button{
        margin-top: 1.5rem;
        width: 100%;
    }
    .modal_title{
        text-align: center;
        margin: 1rem 0;
        color: white;
        font-size: 2.5rem;
    }
</style>